/*!
Theme Name: empower-lac
Theme URI: http://underscores.me/
Author: D\'André Phillips
Author URI: http://underscores.me/
Description: Empower LAC\'s WordPress Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: empower-lac
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

empower-lac is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	scroll-behavior: smooth;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

body * * {
    transition: 0.3s all ease;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
	clear: both;
}

h2 {
    color: #ddb800;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	margin-bottom: 1.5em;
	font-size: 1.75rem;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(0,0,0,0.75);
}

blockquote p {
	margin: 0px;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

@media screen and (max-width: 767px) {

    .site-header .nav-container {
        max-width: 100%;
        padding: 0 7.5%;
        display: inline-flex;
    }


}

.main-navigation {
	clear: both;
	float: right;
	width: auto;
	margin-top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-navigation.toggled {
	display: block;
}

@media screen and (min-width: 768px) {

	.main-navigation {
		display: block;
        width: 100%;
        max-width: 575px;
        margin: 0 auto;
        float: none;
	}

}

@media screen and (min-width: 992px) {

    .main-navigation {
        margin-top: 7.5%;
        width: auto;
        max-width: none;
        float: right;
    }

}

.main-navigation .menu-top-menu-container {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 200;
	background: white;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {

    .main-navigation .menu-top-menu-container {
        position: static;
        margin-top: 0px;
    }

}


.main-navigation button.menu-toggle {
	padding: 15px;
	background: transparent;
	border: 1px solid black;
	border-radius: 0px;
	font-size: 1.5em;
	margin: 10px;
}

.main-navigation button.menu-toggle:focus {
    outline: none;
}

.main-navigation button.menu-toggle[aria-expanded='true'] {
	background: black;
	color: white;
	position: relative;
	top: 12%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	background-color: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 768px) {

	.main-navigation li {
		width: -webkit-fill-available;
	}

}

@media screen and (min-width: 992px) {

    .main-navigation li {
        width: auto;
        text-align: -webkit-match-parent;
    }

}

.main-navigation a {
	display: block;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.main-navigation ul li.current_page_item {
		border-bottom: 1px solid black;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

@media screen and (min-width: 992px) {

    .main-navigation ul {
        display: block;
    }

}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	/*margin: 0 0 1.5em;*/
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Custom Styling */

.home {
	background-color: #1d1d1d;
}

@keyframes fadeInSplash {
    0%      {opacity: 0}
    100%    {opacity: 1}
}

#splashscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e0e0e;
}

#splashscreen h1 {
    opacity: 0;
	font-size: 1.5em;
	text-transform: uppercase;
    animation: fadeInSplash 0.25s forwards;
    animation-delay: 0.25s;
}

@media screen and (min-width: 576px) {

    #splashscreen h1 {
        font-size: 2.5em;
    }

}

.custom-logo {
	width: 200px;
}

@media screen and (min-width: 768px) {

	.custom-logo {
		width: 300px;
	}

}

.site-header {
	background-color: white;
	color: #a0a0a0;
	text-transform: uppercase;
	border-top: 5px solid black;
}

@media screen and (min-width: 768px) {

	.site-header {
		background-color: white;
		color: #a0a0a0;
	}


}

.site-header nav a {
	color: black;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	transition: 0.3s all ease;
}

.site-header nav a:hover {
	color: black;
	transition: 0.3s all ease;
}

.site-header nav li {
	border-bottom: 1px solid transparent;
	transition: 0.3s all ease;
}

.site-header nav li:hover {
	color: black;
	border-bottom: 1px solid black;
	transition: 0.3s all ease;
}

@media screen and (min-width: 768px) {

    .site-header nav a {
        padding: 5px 15px;
    }

}

.site-header .top-part {
	border-bottom: 1px solid grey;
	background: black;
}

.site-branding {
	display: inline-block;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 992px) {

	.site-branding {
		width: auto;
		text-align: left;
	}

}

#carouselExampleIndicators {
	height: 75vh;
	max-height: 100vh;
	overflow: hidden;
	margin-bottom: 25px;
	border-bottom: 1px solid #353535;
	transition: 0.5s all ease;
}

@media screen and (min-width: 360px) {

    #carouselExampleIndicators {
        height: 66vh;
        max-height: 66.66vh;
    }

}

@media screen and (min-width: 576px) {

    #carouselExampleIndicators {
        height: 50vh;
    }

}

@media screen and (min-width: 768px) {

    #carouselExampleIndicators {
        height: 50vh;
    }

}

@media screen and (min-width: 1200px) {

	#carouselExampleIndicators {
		height: 60vh;
	}

}

#carouselExampleIndicators > .carousel-inner > .carousel-item > img {
    width: 200vw;
    max-width: none;
    margin: 0 -50vw;
}

@media screen and (min-width: 768px) {

    #carouselExampleIndicators > .carousel-inner > .carousel-item > img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

}

#carouselExampleIndicators > .carousel-inner > .carousel-item > img.busy {
	filter: brightness(50%);
}

.carousel-indicators .active {
	background-color: #ddb800;
}

.carousel-item {
	height: auto;
}

.carousel-inner.no-bg-image {
    min-height: 100%;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	top: 0%;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}

@media screen and (min-width: 768px) {
	.carousel-caption {
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.carousel-caption h1 {
	 font-size: 2em;
	 letter-spacing: -1.5px;
	 font-weight: lighter;
	 text-shadow: 0px 0px 100px black;
	 width: 100%;
 }

.carousel-caption p {
	text-shadow: 0px 0px 50px black;
	font-size: 0.75em;
	width: 100%;
}

@media screen and (min-width: 360px) {

    .carousel-caption {
        top: 4%;
    }

	.carousel-caption h1 {
		font-size: 2.5em;
		letter-spacing: -2.5px;
	}

	.carousel-caption p {
		font-size: 1em;
	}

}

@media screen and (min-width: 576px) {

    .carousel-caption {
        top: 8.75%;
    }

	.carousel-caption h1 {
		font-size: 2.5em;
		letter-spacing: -2.5px;
	}

    .carousel-caption p {
        font-size: 1.25em;
    }

}

@media screen and (min-width: 768px) {

	.carousel-caption h1 {
		font-size: 3.25em;
		letter-spacing: -2.5px;
        width: 75%;
	}

    .carousel-caption p {
        font-size: 1.25em;
        width: 75%;
    }

}

@media screen and (min-width: 992px) {

    .carousel-caption h1 {
        font-size: 4em;
    }

}

.carousel-caption a.cta,
#carouselExampleIndicators a.cta {
	background-color: rgba(0,0,0,0.75);
	color: #ddb800;
	margin: 0px 25px;
	margin-top: 2em;
	font-size: 1.125em;
	text-transform: uppercase;
	border: 2px solid #ddb800;
	padding: 20px;
	display: inline-flex;
	font-weight: normal;
	transition: 0.3s all ease;
}

.carousel-caption a.cta:hover,
#carouselExampleIndicators a.cta:hover {
	background-color: #ddb800;
	border-color: transparent;
	box-shadow: 0px 0px 15px -5px black;
	text-decoration: none;
	color: black;
	transition: 0.3s all ease;
}

#carouselExampleIndicators .jumbotron {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#carouselExampleIndicators .jumbotron h1,
#carouselExampleIndicators .jumbotron p {
	width: 75%;
	color: white;
	display: inline-block;
	margin: 25px;
	padding: 20px;
	background: rgba(0,0,0,0.75);
}

#carouselExampleIndicators .jumbotron p {
	margin-top: 25px;
}

#carouselExampleIndicators .jumbotron h1 {
	display: inline-flex;
	font-size: 2em;
	background-color: rgba(0,0,0,0.75);
	padding: 10px 20px;
	margin-bottom: 10px;
	letter-spacing: -2px;
	font-weight: lighter9-shadow: 0px 0px 100px black;
}

@media screen and (min-width: 576px) {
	#carouselExampleIndicators .jumbotron h1 {
		display: inline;
		font-size: 2.5em;
		letter-spacing: -2.5px;
	}
}

@media screen and (min-width: 768px) {
	#carouselExampleIndicators .jumbotron h1 {
		font-size: 3em;
	}
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item {
	height: 100%;
}

#carouselExampleIndicators .carousel-item.slide-1 .jumbotron {
	background-image: url(./images/water-1245985_1920.jpg);
}

#carouselExampleIndicators .carousel-item.slide-2 .jumbotron {
	background-image: url(./images/urban-438393_1920.jpg);
}

#carouselExampleIndicators .carousel-item.slide-3 .jumbotron {
	background-image: url(./images/couple-1030744_1920.jpg);
}

#carouselExampleIndicators .carousel-item.slide-4 .jumbotron {
	background-image: url(./images/tie-690084_1920.jpg);
}

h2.latest-posts-title {
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	padding: 20px 0px;
	border-bottom: 1px solid #252525;
}

.latest-posts {
	display: block;
	margin-top: 25px;
	margin-bottom: 50px;
}

.latest-posts ul.recent-posts {
	padding: 0px;
	margin: 0px;
	display: contents;
}

.latest-posts ul.recent-posts li {
	list-style: none;
	border: 1px solid white;
	display: block;
	width: 100%;
	margin: 5px 0px;
    text-align: center;
    transition: 0.7s all ease;
}

.latest-posts ul.recent-posts li a {
	color: white;
	font-size: 18px;
	padding: 50px 25px;
	text-transform: uppercase;
	transition: 0.3s all ease;
	display: flex;
	height: 100px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 576px) {

    .latest-posts ul.recent-posts li {
        display: inline-flex;
        width: calc(50% - 20px);
        margin: 8px;
    }

    .latest-posts ul.recent-posts li a {
        height: 150px;
        align-items: center;
        display: inline-block;
    }

}

@media screen and (min-width: 768px) {

    .latest-posts ul.recent-posts li {
        width: calc(25% - 20px);
        margin: 8px;
    }

    .latest-posts ul.recent-posts li a {
        height: 225px;
        display: flex;
    }

}

.latest-posts ul.recent-posts li:last-of-type {
	border-color: #ddb800;
}

.latest-posts ul.recent-posts li:last-of-type a {
	color: #ddb800;
}

.latest-posts ul.recent-posts li a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
	transition: 0.3s all ease;
}

.latest-posts ul.recent-posts li:last-of-type {
	border-color: #ddb800;
}

.latest-posts ul.recent-posts li:last-of-type a:hover {
	background-color: #ddb800;
}


@media screen and (min-width: 768px) {

	.latest-posts {
		display: flex;
	}

}

.latest-posts article {
	display: block;
	width: 100%;
	color: white;
	background-image: linear-gradient(to top, #1d1d1d, #2d2d2d);
	background-size: cover;
	background-position: center;
	margin: 10px 0px;
	transition: 0.5s all ease;
}

@media screen and (min-width: 768px) {

	.latest-posts article {
		width: 33.33%;
		margin: 10px;
	}

	.latest-posts article:first-of-type {
		margin-left: 0px;
	}

	.latest-posts article:last-of-type {
		margin-right: 0px;
	}

}

.latest-posts article:hover {
	transition: 0.5s all ease;
}

.latest-posts article .pod-content {
	min-height: 325px;
	padding: 20px 30px;
	background-color: rgba(0,0,0,0.675);
	transition: 0.3s all ease;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.latest-posts article .pod-content:hover {
	transition: 0.3s all ease;
	background-color: rgba(0,0,0,0.75);
}

.latest-posts article h2 a {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.latest-posts article a {
	color: white;
	text-decoration: none;
}

.latest-posts article a.more-link {
	font-weight: bold;
	display: block;
	border: 2px solid white;
	padding: 15px 10px;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s all ease;
}

.latest-posts article a.more-link:hover {
	font-weight: bold;
	background-color: white;
	color: black;
	transition: 0.3s all ease;
}

.latest-posts article h2 p {
	font-size: 14px;
	color: white;
	text-decoration: none;
}
.latest-posts article p {
	font-size: 16px;
	line-height: 20px;
}

.homepage-sections section.padded {
	padding: 100px 0px;
}

section.service-section {
	color: white;
	background-image: url(http://www.empowerlac.co.uk/wp-content/uploads/2019/02/business-suit-690048_1920.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.service-section .bg {
	background-color: rgba(0, 0, 0, 0.75);
	margin: -100px 0px;
	padding: 100px 25px;
}

@media screen and (min-width: 768px) {

	section.service-section .bg {
		padding: 200px 75px;
	}

}

@media screen and (min-width: 992px) {

    section.service-section .bg {
        padding: 200px;
    }

}

/*section.quote-section.testimonial {*/
	/*background-color: #ddb800;*/
	/*text-shadow: 0px 3px 3px black;*/
/*}*/

section.quote-section.testimonial h2 {
	color: #bd9e00;
}

section.quote-section h2 {
	text-align: center;
	border: 4px double rgba(221,184,0,0.25);
	padding: 50px;
    font-size: 1.5em;
}

@media screen and (min-width: 576px) {

    section.quote-section h2 {
        font-size: 2rem;
    }

}

section.quote-section h2::before,
section.quote-section h2::after {
	-webkit-text-stroke: 1px rgba(221,184,0,0.5);
	display: block;
	color: transparent;
	font-size: 1.5em;
	position: absolute;
}

section.quote-section h2::before {
	content: '66';
	left: 0px;
	margin-top: -40px;
}

section.quote-section h2::after {
	content: '99';
	right: 0px;
	margin-bottom: -40px;
}

section.donate-section {
	background-color: #ddb800;
}

section.donate-section h2 {
	color: black;
}

section.about-section {
	background-color: #ffffff;
}

section.about-section .light-pod,
section.about-section .dark-pod {
    padding: 100px 12.5%;
}

section.about-section h2,
section.about-section p {
    margin-bottom: 25px;
}

section.about-section .light-pod {
    border-top: 5px solid #ddb800;
}

section.about-section .dark-pod p {
	color: white;
}

section.about-section .dark-pod .cta {
	color: #ddb800;
	border-color: #ddb800;
}

section.about-section .dark-pod .cta:hover {
    color: black;
    background-color: #ddb800;
}

section.about-section .dark-pod {
    border-bottom: 5px solid #ddb800;
    background-color: #0e0e0e;
}

section a.cta {
	color: black;
	font-weight: normal;
	border: 2px solid black;
	padding: 20px 30px;
	text-transform: uppercase;
	transition: 0.3s all ease;
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

section a.cta:hover {
	text-decoration: none;
	color: white;
	background-color: black;
	border: 2px solid black;
	transition: 0.3s all ease;
}

section a.cta.light {
	color: white;
	font-weight: bold;
	border: 3px solid white;
	padding: 20px 30px;
	text-transform: uppercase;
	transition: 0.3s all ease;
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 auto;
}

section a.cta.light:hover {
	text-decoration: none;
	color: white;
	background-color: black;
	border: 3px solid black;
	transition: 0.3s all ease;
}

.about-section a.cta {
	margin: 0px;
}

.about-section a.cta:hover {
	color: white;
}

.jumbotron {
	background: #0e0e0e;
	color: #ddb800;
}

.post-template-team-single-post-php .jumbotron {
	padding: 20vh 2rem;
}

.post-template-team-single-post-php .jumbotron h1,
.post-template-team-single-post-php .jumbotron h3 {
	display: inline-block;
	background-color: rgba(0,0,0,0.75);
	padding: 10px 20px;
}

.post-template-team-single-post-php article {
	margin-bottom: 25px;
}

.text-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer.site-footer {
	text-transform: uppercase;
	background-color: #0e0e0e;
	color: rgba(255,255,255,0.75);
	border-bottom: 5px solid #ddb800;
	padding: 50px 20px;
	font-weight: lighter;
	font-size: 0.8em;
}

footer.site-footer a {
    color: rgba(255,255,255,0.75);
}

footer.site-footer a.link {
	color: #ddb800;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    text-decoration: none;
    transition: 0.3s all ease;
}

footer.site-footer a.link:hover {
    border-bottom: 1px solid #ddb800;
    padding-bottom: 2px;
    text-decoration: none;
    transition: 0.3s all ease;
}

footer.site-footer ul {
	margin: 20px;
	text-align: center;
	padding: 0px;
}

footer.site-footer ul li {
	list-style: none;
	padding: 20px;
	text-transform: uppercase;
	display: inline-block;
}

footer.site-footer ul li a {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
	transition: 0.5s all ease;
}

footer.site-footer ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid white;
	transition: 0.5s all ease;
}

footer .social {
	text-align: right;
    width: 100%;
}

footer ul.legal-links {
    display: inline-grid;
    text-align: right;
    float: right;
    width: 100%;
}

footer ul.legal-links li {
    padding: 5px 0px;
}

footer .social i {
    font-size: 2.5em;
    margin: 10px 15px;
    transition: 0.3s all ease;
}

footer .social i:hover {
	color: #ddb800;
	transition: 0.3s all ease;
}

footer img {
	height: 75px;
	float: left;
	background: white;
	padding: 10px;
	margin: 0 5px;
}

footer span.tagline {
    color: #ddb800;
    padding: 5px 15px;
    width: 100%;
    text-align: right;
    font-size: 16px;
}

.site-info {
	text-align: center;
}

body #cookie-law-info-bar {
    background-color: rgba(0,0,0,0.75);
    border-top: 3px solid #ddb800;
    color: white;
}

body #cookie-law-info-again {
    padding: 12.5px 17.5px;
    border-top: 3px solid #ddb800;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px -5px black;
}

ul.team-listing {
	margin: 0px;
	margin-bottom: 50px;
	padding: 0px;
}

ul.team-listing li {
	list-style: none;
	display: inline-block;
	margin: 0px;
	text-align: center;
	background-size: cover;
	background-position: center;
}

ul.team-listing li:hover {
	border-color: #ddb800;
}

ul.team-listing li h3 {
	text-align: center;
	padding: 50px 37.5px;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.75em;
	word-break: break-word;
    min-height: 350px;
}

ul.team-listing li h3:hover {
	color: rgba(0,0,0,0.125);
	background-color: rgba(221,184,0,0.125);
}

ul.team-listing li h3:hover a {
	color: rgba(221,184,0,0.25);
}

ul.team-listing li a {
	color: #ddb800;
	height: 150px;
	display: grid;
	align-items: center;
}

ul.team-listing li a:hover {
	color: black;
	text-decoration: none;
}

ul.team-listing span.job-title {
	text-transform: uppercase;
	font-size: 16px;
	color: white;
}

.wp-block-verse {
	font-family: 'Lato', sans-serif;
}

.entry-meta {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.entry-meta a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.125);
	transition: 0.3s all ease;
}

.entry-meta a {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	transition: 0.3s all ease;
}

#comments {
	margin: 1em auto;
	border-top: 2px solid #ddb800;
}

#comment-1::before {
	font-size: 2em;
}

#comments a {
	color: black;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}

#comments .reply a {
	display: block;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
	padding: 10px 7.5px;
	margin-bottom: 10px;
	max-width: 125px;
	border: 2px solid #ddb800;
	background-color: transparent;
	border-radius: 0px;
	text-align: center;
	transition: 0.3s all ease;
}

#comments .reply a:hover {
	border: 2px solid #ddb800;
	background-color: #ddb800;
	transition: 0.3s all ease;
}

#comments article.comment-body {
	display: grid;
}

#comments article.comment-body .comment-awaiting-moderation {
	font-style: normal;
	font-size: 0.8em;
}

#comments article.comment-body .comment-content {
	padding-left: 40px;
	margin: 30px 0px;
	border-left: 2px solid #ddb800;
}

#comments article.comment-body .comment-content p:last-of-type {
	margin-bottom: 0px;
}

#comments img {
	width: 100px;
	height: 100px;
}

#comments h3,
#comments h2{
	text-transform: uppercase;
	letter-spacing: 3px;
}

#comments h2 {
	padding: 1.5em 15px;
}

#comments .comment-author {
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: lighter;
	padding-bottom: 5px;
}

#comments a time {
	font-size: 0.8em;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}

#comments a time:hover {
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}


#comments #respond {
	width: 75%;
	padding: 1em 0;
	margin: 30px auto;
}

#comments #respond textarea,
#comments #respond input {
	font-size: 1em;
	padding: 12px;
	border: 3px solid black;
	border-radius: 0px;
	width: 100%;
}

#comments #respond input[type="submit"] {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
	padding: 20px 15px;
	max-width: 250px;
	border: none;
	background-color: #ddb800;
	border-radius: 0px;
	transition: 0.3s all ease;
}

#comments #respond input[type="submit"]:hover {
	border-color: #ddb800;
	box-shadow: 0px 0px 10px -5px black;
	transition: 0.3s all ease;
}

#comments #respond label {
	text-transform: uppercase;
	letter-spacing: 2px;
	display: flex;
}

.blog-listing-post {
	min-height: 325px;
	background-size: cover;
	background-position: center;
	margin-bottom: 25px;
}

.blog-listing-post article {
	background-color: #0e0e0e;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transition: 0.3s all ease;
}

.blog-listing-post article:hover {
	filter: brightness(125%);
	border-bottom: 3px solid #ddb800;
	transition: 0.3s all ease;
}

.blog-listing-post article:hover .entry-header h3 a {
	color: #ddb800;
	text-decoration: none;
	transition: 0.3s all ease;
}

.blog-listing-post article:hover .entry-header h3,
.blog-listing-post article:hover .entry-header .entry-meta {
	background-color: black;
	transition: 0.3s all ease;
}

.blog-listing-post article .entry-header {
	padding: 20px;
}

.blog-listing-post article .entry-header h3,
.blog-listing-post article .entry-header .entry-meta {
	background-color: rgba(0,0,0,0.75);
	display: inline-block;
	padding: 10px;
}

.blog-listing-post article .entry-header .entry-meta {
	letter-spacing: 0px;
	font-size: 0.75em;
}

.blog-listing-post article .entry-header * * {
	color: white;
}